name: Tests

on:
  - push
  - pull_request

jobs:

  test_gui:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
        python-version: ['3.8', '3.9', '3.10', '3.11']

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        if: always()
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        if: always()
        run: |
          python -m pip install --upgrade pip
          pip cache purge
          pip install -r requirements.txt
          pip install -r requirements_dev.txt
          pip install -e .
      - name: Test with pytest
        run: pytest --cov=./ --cov-report=xml --timeout=90
        continue-on-error: true
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          token: 2636fab9-860b-46c0-9321-de899de212c6 # not required for public repos

      